.title {
  color: #fff;
}

.search-formGroup {
  margin-bottom: 7px;
  margin-top: 10px;
}

.search-formGroup input {
  border-radius: 25px;
  font-size: 12px;
  width: 350px;
  margin-left: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 0;
  object-fit: cover;
}

.dashboard-link .dropdown-toggle {
  display: flex;
}

.dashboard-link .dropdown-toggle::after {
  margin-top: 12px;
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: #216353;
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .dropdown-menu.show {
    background-color: transparent;
  }

  .dropdown-menu.show a {
    color: #fff;
  }

  .dashboard-link {
    border: 0;
  }
}

@media only screen and (max-width: 570px) {
  .search-formGroup input {
    margin-left: 0;
    width: 150px;
  }

  .navbar-dark .navbar-brand {
    margin-right: 0;
  }
}
