.single-land {
  margin-bottom: 20px;
}

.single-land .card .card-header {
  background-color: #368571;
  color: #fff;
}

.land-icon-section {
  margin-left: 50%;
  width: 55%;
  display: flex;
  justify-content: space-around;
}
