.sidebar-profile {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.sidebar-container {
  padding-top: 50px;
  background: #efefef;
  min-height: 100vh;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}

.sidebar-container .list-group-item {
  cursor: pointer;
}

.sidebar-name {
  margin-top: 20px;
}

.list-group-item {
  border-right: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.list-group-item.active {
  background-color: #216353;
  border-color: #216353;
}

@media only screen and (max-width: 768px) {
  .list-group-item + .list-group-item,
  .list-group-item.active {
    font-size: 14px;
  }

  .sidebar-profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }

  .sidebar-container {
    min-height: 100%;
    margin-bottom: 40px;
  }
}
