.tutorial {
  height: calc(100vh - 10px);
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.flex {
  flex: 1;
  margin: 5px;
  border: 2px solid #090f5f;
  padding: 5px;
}

body {
  margin: 0;
}
